# Misc
.settings/

# Output folders
/Duet3MB6HC_RAM/
/Duet3MB6HC_SPI_RAM/
/Duet3MB6XD_RAM/
/Duet3MB6XD_SPI_RAM/
/SAM4E_RAM/
/SAM4E_SPI_RAM/
/SAM4S_RAM/
/Duet3Mini_SD_RAM/
/Duet3Mini_SPI_RAM/
/FMDC_SD/
