# Misc
.settings/

# Output folders
/SAM3X_Release/
/SAM4E_Release/
/SAME70XPLD/
/Alligator/
/Duet3/
/RADDS/
/SAM4S_Release/
/Duet3_RAM/
/Duet3_SPI/
/Duet3_SPI_RAM/
/SAM4E_RAM/
/SAM4E_SPI_RAM/
/SAM4S_RAM/
/Duet3Mini_SD_RAM/
